:root {
  --board-padding: 4px;
}

.game-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;

  user-select: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
}

.board-wrapper {
  width: fit-content;
  max-width: calc(100svw - var(--board-padding) * 2);
  border: 4px solid #c0c0c0;
  overflow: auto;
}

.board {
  display: grid;
  gap: 0;
}

.cell {
  width: 32px;
  height: 32px;
  cursor: pointer;
  user-select: none;
  transition: filter 0.1s ease;
  padding: 0;
  border: none;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  outline: none;
}

.cell:hover {
  filter: brightness(1.3);
}

.cell-closed {
  background-image: url('/closed.svg');
}

.cell-flag {
  background-image: url('/flag.svg');
}

.cell-mine {
  background-image: url('/mine.svg');
}

.cell-mine-red {
  background-image: url('/mine_red.svg');
}

.cell-mine-wrong {
  background-image: url('/mine_wrong.svg');
}

.cell-type0 {
  background-image: url('/type0.svg');
}

.cell-type1 {
  background-image: url('/type1.svg');
}

.cell-type2 {
  background-image: url('/type2.svg');
}

.cell-type3 {
  background-image: url('/type3.svg');
}

.cell-type4 {
  background-image: url('/type4.svg');
}

.cell-type5 {
  background-image: url('/type5.svg');
}

.cell-type6 {
  background-image: url('/type6.svg');
}

.cell-type7 {
  background-image: url('/type7.svg');
}

.cell-type8 {
  background-image: url('/type8.svg');
}

.flag-drop {
  animation: flagDrop 0.2s cubic-bezier(0.34, 1.56, 0.64, 1);
}

@keyframes flagDrop {
  0% {
    transform: translateY(-100%) scale(0.5);
    opacity: 0;
  }

  60% {
    transform: scale(2);
    opacity: 1;
  }

  80% {
    transform: scale(0.95);
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.game-status {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.digit-display {
  display: flex;
  gap: 2px;
  background-color: #000;
  padding: 4px;
}

.digit {
  width: 24px;
  height: 36px;
  display: block;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.digit-0 {
  background-image: url('/d0.svg');
}

.digit-1 {
  background-image: url('/d1.svg');
}

.digit-2 {
  background-image: url('/d2.svg');
}

.digit-3 {
  background-image: url('/d3.svg');
}

.digit-4 {
  background-image: url('/d4.svg');
}

.digit-5 {
  background-image: url('/d5.svg');
}

.digit-6 {
  background-image: url('/d6.svg');
}

.digit-7 {
  background-image: url('/d7.svg');
}

.digit-8 {
  background-image: url('/d8.svg');
}

.digit-9 {
  background-image: url('/d9.svg');
}

@keyframes pulse {

  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0.6;
  }
}

.initial-board {
  animation: slideIn 0.5s ease-out;
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.initial-cell {
  transition: transform 0.1s ease;
}

.initial-cell:hover {
  transform: scale(1.1);
  filter: brightness(1.2);
}
