---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <article class="min-h-screen flex flex-col items-center justify-center p-4 bg-gradient-to-br from-base-300 to-base-100">
    <section class="text-center space-y-12">
      <h1 class="text-6xl md:text-8xl font-bold bg-gradient-to-r from-primary to-secondary bg-clip-text text-transparent">
        💣 マインスイーパー
      </h1>

      <a
        href="/play"
        class="btn btn-neutral btn-wide"
      >
        Start
      </a>
    </section>
  </article>
</Layout>

