---
import "../styles/global.css";
---

<!doctype html>
<html lang="ja" data-theme="dark">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>マインスイーパーWeb</title>
		
		<!-- Preload game SVG assets -->
		<link rel="preload" href="/closed.svg" as="image" type="image/svg+xml" />
		<link rel="preload" href="/flag.svg" as="image" type="image/svg+xml" />
		<link rel="preload" href="/mine.svg" as="image" type="image/svg+xml" />
		<link rel="preload" href="/mine_red.svg" as="image" type="image/svg+xml" />
		<link rel="preload" href="/mine_wrong.svg" as="image" type="image/svg+xml" />
		<link rel="preload" href="/type0.svg" as="image" type="image/svg+xml" />
		<link rel="preload" href="/type1.svg" as="image" type="image/svg+xml" />
		<link rel="preload" href="/type2.svg" as="image" type="image/svg+xml" />
		<link rel="preload" href="/type3.svg" as="image" type="image/svg+xml" />
		<link rel="preload" href="/type4.svg" as="image" type="image/svg+xml" />
		<link rel="preload" href="/type5.svg" as="image" type="image/svg+xml" />
		<link rel="preload" href="/type6.svg" as="image" type="image/svg+xml" />
		<link rel="preload" href="/type7.svg" as="image" type="image/svg+xml" />
		<link rel="preload" href="/type8.svg" as="image" type="image/svg+xml" />
		<link rel="preload" href="/d0.svg" as="image" type="image/svg+xml" />
		<link rel="preload" href="/d1.svg" as="image" type="image/svg+xml" />
		<link rel="preload" href="/d2.svg" as="image" type="image/svg+xml" />
		<link rel="preload" href="/d3.svg" as="image" type="image/svg+xml" />
		<link rel="preload" href="/d4.svg" as="image" type="image/svg+xml" />
		<link rel="preload" href="/d5.svg" as="image" type="image/svg+xml" />
		<link rel="preload" href="/d6.svg" as="image" type="image/svg+xml" />
		<link rel="preload" href="/d7.svg" as="image" type="image/svg+xml" />
		<link rel="preload" href="/d8.svg" as="image" type="image/svg+xml" />
		<link rel="preload" href="/d9.svg" as="image" type="image/svg+xml" />
	</head>
	<body>
		<slot />
	</body>
</html>
